h1{
    font-family: "raleway";
    font-size: 25px;
    text-align: center;
}

h2{
    font-family: "raleway";
    font-size: 20px;
    text-align: left;
}


p{
   font-family: "Source Sans Pro";
   font-size: 15px;
   text-align: left;
   padding: 10px;
}
    
footer{
    text-align: center;
    font-size: 10px;
    }

dl{
   font-family: "Source Sans Pro"; 
   font-size: 15px; 
   text-align: left;
}

dt{
    font-size: 15px;
    text-align: left;
}

dd{
    font-size: 15px;
    text-align: left;
}

