#menu, .dropdown-item{ 
   background-color: #e589ba; 
}

#brand{
    font-family: 'Comfortaa', cursive;
    color: #fff;
    font-size: 30px;
}

#web, #kom, #design, #pro{
    font-family: 'Comfortaa', cursive;
    
}

#webtext, #ktekst, #dtekst, #ptekst{
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    background-color:#e589ba; 
}
#luftundermenu{
    height: 70px;
}

